/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* ====== Custom properties ====== */
:root {
    /* Color */
    --title-clr: hsl(217, 19%, 35%);
    --bg-clr:  hsl(210, 46%, 95%);
    --par-clr: hsl(214, 17%, 51%);
    --date-clr: hsl(212, 23%, 69%);
    /* Font */
    --fs: 0.813rem;
    --ff: 'Manrope', sans-serif;
    --fw-med: 500;
    --fw-bold: 700;
}

/* ====== Style ====== */
body {
    background-color: var(--bg-clr);
    font-family: var(--ff);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ====== Main ====== */
.container {
    background-color: white;
    margin-inline: 1.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
    overflow: hidden;
}

/* ====== Image ====== */
.drawer {
    background-image: url(images/drawers.jpg);
    background-size: cover;
    background-position-y: -1rem;
    width: 100%;
    height: 12.5rem;
    background-repeat: no-repeat;
}

/* ====== Article ====== */
.article {
    padding-block: 2.25rem 1rem;
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.text {
    display: flex;
    flex-direction: column;
    color: var(--title-clr);
    gap: 1rem;
}

.title {
    font-size: 1rem;
}

.description {
    font-size: 0.825rem;
    color: var(--par-clr);
    padding-right: 0.1rem;
}

/* ====== Footer ====== */
.cont-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-block: 1rem;
    padding-inline: 2rem;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.avatar-info {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
}

.avatar-name {
  font-size: 0.825rem;
  font-weight: var(--fw-bold);
  color: var(--title-clr);
}

.avatar-date {
  font-size: 0.825rem;
  color: var(--date-clr);
}

.avatar-img img {
    max-width: 2.5rem;
    border-radius: 4rem;
}

.share-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-clr);
  padding: 0.5rem;
  aspect-ratio: 1/1;
  border-radius: 1rem;
}

.avatar {
  /*display: none;*/
}

.share {
  display: flex;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  align-items: center;
  background-color: var(--title-clr);
  padding-block: 1.325rem;
  padding-inline: 2rem;
}

.left-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.share-text {
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  color: var(--date-clr);
  font-size: 0.75rem;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.share-btn {
  z-index: 1;
  margin-left: auto;
}