/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* ====== Custom properties ====== */
:root {
    /* Color */
    --title-clr: hsl(217, 19%, 35%);
    --bg-clr:  hsl(210, 46%, 95%);
    --par-clr: hsl(214, 17%, 51%);
    --date-clr: hsl(212, 23%, 69%);
    /* Font */
    --fs: 0.813rem;
    --ff: 'Manrope', sans-serif;
    --fw-med: 500;
    --fw-bold: 700;
}

/* ====== Style ====== */
body {
    background-color: var(--bg-clr);
    font-family: var(--ff);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    margin-inline: 1.5rem;
    display: grid;
    grid-template-rows: 0.85fr 2fr;
}

.drawer {
    background-image: url(images/drawers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -15px;
}

.article {
    padding-block: 2.25rem 1rem;
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.text {
    display: flex;
    flex-direction: column;
    color: var(--title-clr);
    gap: 1rem;
}

.title {
    font-size: 1rem;
}

.description {
    font-size: 0.825rem;
    color: var(--par-clr);
    padding-right: 0.1rem;
}